
<style>
/*TestMark*/
#footer, #headerContainer, #smallSearchContainer {
background-image: linear-gradient(to right, #2a4792, #35499b, #414aa3, #4e4bab, #5b4cb3, #5257be, #4862c7, #3c6dd0, #0081d6, #0092d5, #00a1d1, #42aecb);
}

#mainNav {
 font-family: 'Oswald', sans-serif
}

#ticketsContainer {
    margin-top: 0px !important;
}

.header-bar-full-width-two{
    background: #1c62ed; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a4792, #4856a5, #6466b8, #7e77cb, #9888de, #9a8de3, #9d92e9, #9f97ee, #8a91e6, #748ade, #5c84d5, #427dcb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a4792, #4856a5, #6466b8, #7e77cb, #9888de, #9a8de3, #9d92e9, #9f97ee, #8a91e6, #748ade, #5c84d5, #427dcb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow:0px 0px;

    color: #fff;
    padding-bottom: 5px;

white-space: nowrap;
}

.header-bar-full-width-two img{
margin: 8px;
border-radius: 4px;
border: 2px solid white;
  position: relative;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
    background-size:     auto;
  max-width:300px;
  max-height:150px;
  width: 300px;
  height: 150px;
}

.header-bar-full-width{
    background: #1c62ed; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7D29E7, #4247d1, #359BD3, #3ddeff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7D29E7, #4247d1, #359BD3, #3ddeff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow:0px 0px;
    color: #fff;
    padding-bottom: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 125%;
    font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
}

#searchInput{
text-transform: capitalize;
}

.event-list-top h2{
text-transform: capitalize;
}

.white-box li a {
   color: #2c1e46;
}

.header-bar-full-width, .header-bar-full-width2 {
  height: 0px !important;
  display: none;
}

/*Mobile Only*/

@media screen and (max-width: 600px) {
#mainNav {
   font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
   opacity: .85;
   position: absolute;
   z-index: 100;
   background-color: white  !important;
}

#mainNav a {
   color: #521ea0;
}

.header-bar-full-width{
    font-size: 80%;
    font-weight: bold;
  }

#locationLink{
    font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
    padding: 2px;
    border: 1px solid #e0047d;
    border-radius: 3px;
   width: 100%;
display: block;
text-align: center;
}
}

// .wrap {
   background-image: linear-gradient(to right, #2a4792, #38499b, #464ba4, #554cac, #644cb3, #674bb7, #6b4abc, #6f49c0, #6647c3, #5c46c5, #5144c8, #4243cb);
}

#mainNav{
    float:right;
    background-color:rgba(0, 0, 0, 0.0);
}

.sub-nav-element {
color: #181673;
}

.footer-contents{
   color: white;
}

#footer, #headerContainer, #smallSearchContainer {
background-image: linear-gradient(to right, #2a4792, #35499b, #414aa3, #4e4bab, #5b4cb3, #5257be, #4862c7, #3c6dd0, #0081d6, #0092d5, #00a1d1, #42aecb);

#logo.a.img {
     width: 100px;
     height: 50px;
}

#largeSearchContainer {
    max-width: 3000px;
}

.navbar-brand-link {
   visibility: hidden;
}

.mobile-performer-image{
font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
background-color:#ffffff;
  background-image: linear-gradient(#ffffff, #EFEFEF);
}

.mobile-performer-image h1{
padding: 27px 20px 27px 25px;
font-size: 26px !important;
}

.mobile-performer-image img{
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.custom-performer-box img{
-webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 93%);
clip-path: polygon(0 0, 100% 0, 100% 98%, 0 93%);
}


#searchForm #searchInput{
border-radius:100px;
font-family: 'PT Sans', sans-serif;
}

#searchForm [type="submit"]{
border-radius:100px;
}

#searchForm{
    border-radius: 100px;
    background-color: white;
    border-collapse: separate;
}


.white-box{
font-family: 'PT Sans', sans-serif;
font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
border-radius:3px;
}

.white-box h3{
font-size: 23px !important;

}

#header {
font-family: 'PT Sans', sans-serif;
}

#logo a {
font-family: 'PT Sans', sans-serif;
font-size: 22px;
padding-right:50px;
}

.sub-nav-element{
font-family: AvenirNext-Medium, 'PT Sans', sans-serif;

}

.white-box h3{
font-size: 23px;

}

.font-override-color{
color:#e0047d;
font-size:17px;
}

#locationLink{
color:#e0047d;
border-bottom: 1px dotted #e0047d;

}

#locationLink:hover{
color:#96004b;

}

.tickets-button{
border-radius:10px !important;
width:47px !important;
height:50px !important;
box-shadow: 0px 0px 6px 0px rgba(184,178,184, 1);

}

.dropdown-container{
background-color: #ffffff;
}

.sub-nav-container{
background-color: #ffffff;
}

#disclaimer {
display: none;
    position:absolute;
}

.event-image-container {
display: none;
    position:absolute;
}


.event-time{
    display:none;
    position: absolute;
}

  .event-date-time {
color: #808080;
padding-right:3px;
}

.event-list{
box-shadow: 0px 0px 6px 0px rgba(184,178,184, 1);
font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
border-radius:3px;
}

.event-name {
font-size: 21px;
}

.event-name a{
font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
color:#474747;
}


#mainNav{
    float:right;
    background-color:rgba(0, 0, 0, 0.0);
}

#mainNav a{
    font-family: 'PT Sans', sans-serif;
}

.guarantee-image{
display: none;
    position:absolute;
}

.event-ticket-count{
display: none;
    position:absolute;
}

.mobile-event-ticket-count{
display: none;
    position:absolute;
}

.tickets-text{
   font-family: 'PT Sans', sans-serif;
}

.searchResults{
opacity:1;

}

.search-result-item{
text-transform: capitalize;
font-size: 18px;
padding-top:8px;
padding-bottom:8px;
padding-left:25px;
font-family: 'PT Sans', sans-serif;
}

.search-result-title {
color:#2a79f7;

}



.event-venue{
font-weight: bold;
color:#2a79f7;
}


.footer-contents{
    font-family: 'PT Sans', sans-serif;
}


 /* Desktop */
@media only screen and (min-width: 768px) {


  .event-date-time {
       width: 65px;
color: #474747;
     }

.mobile-performer-image{
    display:none;
    position:absolute;
     }

.tickets-button{
border-radius:5px !important;
width:115px !important;
height:40px !important;

}


}

/* Mobile */
@media only screen and (max-width: 400px) {

#logo a {
font-family: arial;
}

.right-content{
padding: 0px;
}
  
/* Desktop */
@media screen and (min-width: 450px) {
#locationLink{
    font-family: AvenirNext-Medium, 'PT Sans', sans-serif;
    padding: 2px;
    border: 1px solid #e0047d;
    border-radius: 3px;
    background-color: #e0047d;
    color: #ffffff;
}

#mainNav li {
    background-color: white;
}

#locationLink:hover{
    background-color: #ffffff;
    color: #e0047d;
}

 </style>
